.hidden {
  display: none;
}

.header {}

.nav {
  background: #252525;
  display: flex;
  /* float: left; */
  width: 100%;
}

.lefttop {
  flex-basis: 450px;
  text-align: center;
  flex-shrink: 0;
}

.logo {
  display: block;
}

.logo-image {
  width: 90px;
  border-style: none;
  max-width: 100%;
}

.righttop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 100%;
}

.menu {
  float: right;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 0.8rem;
}

.menu-item {
  position: relative;
  margin-right: 15px;
}

.menu-link {
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  padding: 0 15px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  max-width: 176px;
  text-align: center;
}

.menu-item__dropdown {
  position: absolute;
  padding-top: 5px;
  z-index: 10;
  width: 250px;
}

.submenu {
  display: block;
  background-color: white;
}

.submenu-item:hover .submenu-item__img{
  background-color: #601414;
}

.submenu-item:hover .submenu-item__title{
  color: #601414;
}

.submenu-item__link {
  display: flex;
  align-items: center;
  color: #000;
  text-transform: uppercase;
}

.submenu-item__img {
  width: 50px;
  height: auto;
  background: #252525;
  padding: 10px;
  border-top: 5px solid #252525;
  border-bottom: 5px solid #252525;
}

.submenu-item__title {
  padding-left: 20px;
}

.active {
  background: #601414;
}

.serveces-section {
  background: #1a1a1a;
  padding: 50px 0;
}

.serveces-list {
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  margin: 0 auto;
}

.service {
  transition: 0.3s;
  position: relative;
}

.service:hover .service-image {
  background-color: #601414;
}

.service:hover .service-image-wrapper {
  transform: rotate(-90deg);
}

.service-image-wrapper {
  transition: 0.5s;
  display: block;
  width: 80px;
  margin: 10px auto;
  overflow: hidden;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.service-image {
  display: block;
  width: 80px;
  background: #3a3a3a;
  padding: 20px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.4s;
}


.service-image-title {
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 600;
  color: #fff;
  max-width: 130px;
  text-align: center;
}
